<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.Quran.Elmallah.Beginner-Quran.processingRefresh</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Used to save wallpapers you choose to your Photo Library.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Uthmani.ttf</string>
		<string>Indopak.ttf</string>
		<string>QuranCommon.ttf</string>
		<string>Warsh.ttf</string>
		<string>Kufi.ttf</string>
		<string>Hijazi.ttf</string>
		<string>Hijazi3.ttf</string>
		<string>Hijazi4.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
